@import "../../../../../theme/theme";

:host {
  display: block;
  padding: $default-spacing-mobile;

  @include media-tablet {
    padding: $default-spacing;
  }

  &-content {
    display: block;
  }
}
