@import "../../../../../theme/size";
@import "../../../../../theme/colour";

:host {
  .PrIconBadge {
    &-container {
      border: 1px solid $default-icon-colour;
      border-radius: 50%;
      padding: 5px;
      display: inline-block;
    }
  }
}
