@import '../../../../../theme/theme';

:host {
  display: block;
  padding: $default-spacing;
  background-color: $colour-grey;
  border: 1px solid $colour-grey-dark;

  &.PrCodeBlock {
    &--html {
      color: $colour-grey-light;
    }
  }

  .PrCodeBlock {
    &-container {
      margin: 0;
    }
  }
}
