<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="api" />
  </root>
  <logger additivity="false" name="Common.Domain.Logging.Logger">
    <level value="ALL"/>
    <appender-ref ref="domain" />
  </logger>
  <logger additivity="false" name="Common.Application.Logging.Logger">
    <level value="ALL"/>
    <appender-ref ref="application" />
  </logger>
  <appender name="api" type="log4net.Appender.RollingFileAppender">
    <file value="api.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="application" type="log4net.Appender.RollingFileAppender">
    <file value="application.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="domain" type="log4net.Appender.RollingFileAppender">
    <file value="domain.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
</log4net>