/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './theme/theme';

$config: mat-typography-config();

body {
  margin: 0;
  font-family: mat-font-family($config);
  font-weight: normal;
}

.mat-dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  @include media-tablet {
    position: relative;
  }
}

.mat-tab-label {
  width: 50%;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}
