<pr-side-drawer-layout>
  <pr-drawer role="navigation">
    <mat-nav-list>
      <a class="PrSideNav-link"
         *ngFor="let route of prSideNavRoutes" mat-list-item
         [routerLink]='route.route'
         [queryParams]='route.routeParams'
         routerLinkActive="PrSideNav--active">
        <pr-translate [prTranslate]="route.label"></pr-translate>
      </a>
    </mat-nav-list>
  </pr-drawer>
  <pr-drawer-content>
    <router-outlet></router-outlet>
  </pr-drawer-content>
</pr-side-drawer-layout>
