$font-size-xxsmall: 12px;
$font-size-xsmall: 18px;
$font-size-small: 24px;
$font-size-medium: 30px;
$font-size-large: 36px;

$icon-size-xxsmall: 12px;
$icon-size-xsmall: 18px;
$icon-size-small: 24px;
$icon-size-medium: 30px;
$icon-size-large: 36px;

$default-spacing: 15px;
$default-spacing-mobile: 10px;

@mixin size-setup($size) {
  height: $size;
  width: $size;
  min-height: $size;
  min-width: $size;
}
