@import "../../../../../theme/theme";

:host {
  font-size: $icon-font-size-medium;

  &.PrIcon {
    $cmp: &;

    &--small {
      font-size: $icon-font-size-small;

      #{$cmp}-icon {
        height: $icon-size-small;
        width: $icon-size-small;
      }
    }

    &--xxsmall {
      font-size: $icon-font-size-xxsmall;

      #{$cmp}-icon {
        height: $icon-size-xxsmall;
        width: $icon-size-xxsmall;
      }
    }

    &--xsmall {
      font-size: $icon-font-size-xsmall;

      #{$cmp}-icon {
        height: $icon-size-xsmall;
        width: $icon-size-xsmall;
      }
    }
  }
}
