@import "../../../../../theme/theme";

:host {
  font-size: $icon-size-medium;

  &.PrIcon {
    &--xxsmall {
      font-size: $icon-size-xxsmall;
    }

    &--xsmall {
      font-size: $icon-size-xsmall;
    }

    &--small {
      font-size: $icon-size-small;
    }
  }
}
