@import "../../../../../theme/theme";

:host {
  .PrFormValidationErrors {
    &-icon {
      margin-right: 5px;
      color: $colour-warning;
    }

    &-text {
      line-height: $font-size-xxsmall;
      vertical-align: middle;
    }
  }
}
